.square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    background: red;
  }
 
  .square:nth-of-type(2n) {
    background: black;
  }

  #board {
    display: flex;
    margin: 0 auto;
    width: 500px;
    flex-wrap: wrap;
  }